<main class="holder">
        <div class="contacto">
            <h2>Contacto rápido</h2>
            <form action="/contacto" method="post" class="formulario">
                <p>
                    <label for="">Nombre</label>
                    <input type="text" name="nombre" required>
                </p>
                <p>
                    <label for="">Email</label>
                    <input type="email" name="email" required>
                </p>
                <p>
                    <label for="">Teléfono</label>
                    <input type="text" name="tel" required>
                </p>
                <p>
                    <label for="">Comentarios</label>
                    <textarea name="comentarios" required></textarea>
                </p>
                <p class="centrar">
                    <input type="submit" value="Enviar">
                </p>
            </form>
        <p>{{message}}</p>
        </div>
        <div class="redes">
            <h2>Otras vías de contacto</h2>
            <p>Tambien pueden contactarse con nosotros usando los siguientes medios</p>
            <ul>
                <li>Telefono: 11-3564-5892</li>
                <li>Facebook: Meni JoloidovskyB</li>
                <li>Twitter: ah re</li>
            </ul>
            <div class="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.227431373545!2d-58.42219892062404!3d-34.59841006481934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb666703c59f%3A0x6f9fd2b57bacdcac!2s%C3%81rea%20de%20Desarrollo%20Profesional%20-%20Pasant%C3%ADas!5e0!3m2!1ses-419!2sar!4v1633391435912!5m2!1ses-419!2sar" width="450" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>


    </main>