<main class="holder">
        <div class="homeing">
            <img src="images/home/img01.jpg" alt="AVION">
        </div>
        <div class="columnas">
            <div class="bienvenidos">
                <h2>Bienvenidos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt saepe id optio distinctio iste suscipit nesciunt enim nemo recusandae aliquam similique ex, aut consequuntur. Quo eveniet itaque dolore error suscipit?</p>
            </div>
            <div class="testimonios">
                <h2>Testimonios</h2>
                <div class="testimonio">
                    <span class="cita">Simplemente excelente</span>
                    <span class="autor">Juan Gomez - zapatos.com</span>

                </div>
            </div>

        </div>
    </main>