<main class="holder">
        <div class="historia">
            <h2>Historia</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam eligendi placeat veritatis, est deleniti dolore quidem, recusandae asperiores ab tenetur perferendis consectetur labore tempora cupiditate distinctio expedita laboriosam sequi ipsam.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, omnis officiis non rerum minus ipsum ducimus quos? Autem mollitia, tenetur consequatur quisquam dolorem deserunt nobis quae velit debitis, itaque quam.</p>
        </div>
        <div class="staff">
            <h2>Staff</h2>
            <div class="personas">
                <div class="persona">
                    <img src="images/nosotros/nosotros1.jpg" alt="">
                    <h5>Juan Gomez</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam dolores consequuntur possimus assumenda! Fuga veritatis accusamus nobis laborum non aut aliquid ratione. Unde fugit itaque reprehenderit, consequuntur eum corrupti voluptatibus.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros2.jpg" alt="">
                    <h5>Marianela Vieytes</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam dolores consequuntur possimus assumenda! Fuga veritatis accusamus nobis laborum non aut aliquid ratione. Unde fugit itaque reprehenderit, consequuntur eum corrupti voluptatibus.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros3.jpg" alt="">
                    <h5>Roberto Marchi</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam dolores consequuntur possimus assumenda! Fuga veritatis accusamus nobis laborum non aut aliquid ratione. Unde fugit itaque reprehenderit, consequuntur eum corrupti voluptatibus.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros4.jpg" alt="">
                    <h5>Mirela Castignoli</h5>
                    <h6>Gerente General</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam dolores consequuntur possimus assumenda! Fuga veritatis accusamus nobis laborum non aut aliquid ratione. Unde fugit itaque reprehenderit, consequuntur eum corrupti voluptatibus.</p>
                </div>
                <div class="persona">
                    <img src="images/nosotros/nosotros5.jpg" alt="">
                    <h5>Adrian Boraquia</h5>
                    <h6>Gerente de Marketing</h6>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam dolores consequuntur possimus assumenda! Fuga veritatis accusamus nobis laborum non aut aliquid ratione. Unde fugit itaque reprehenderit, consequuntur eum corrupti voluptatibus.</p>
                </div>

            </div>

        </div>
    </main>