 <main class="holder">
        <h2>Novedades</h2>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>Subtitulo</h4>
            <p>Cuerpo de la novedark Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque velit eos aspernatur soluta praesentium nemo aut dolores quibusdam repellendus nobis nihil magnam sed fugit, incidunt deserunt totam excepturi repellat eaque.</p>
            <hr>
        </div>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>Subtitulo</h4>
            <p>Cuerpo de la novedark Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque velit eos aspernatur soluta praesentium nemo aut dolores quibusdam repellendus nobis nihil magnam sed fugit, incidunt deserunt totam excepturi repellat eaque.</p>
            <hr>
        </div>
        <div class="novedades">
            <h3>TITULO</h3>
            <h4>Subtitulo</h4>
            <p>Cuerpo de la novedark Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque velit eos aspernatur soluta praesentium nemo aut dolores quibusdam repellendus nobis nihil magnam sed fugit, incidunt deserunt totam excepturi repellat eaque.</p>
            <hr>
        </div>
       
    </main>